<button [ngClass]="{'tutti': coloreSfondoBottone == 'blue'}" type="button" (click)="cambiaPagina('tutti')">Tutti</button>



<button [ngClass]="{'viaggi': coloreSfondoBottone == 'green'}" type="button" (click)="cambiaPagina('viaggi')">Viaggi</button>




<button [ngClass]="{'cucina': coloreSfondoBottone == 'yellow'}" type="button" (click)="cambiaPagina('cucina')">Cucina</button>




<button [ngClass]="{'moda': coloreSfondoBottone == 'red'}" type="button" (click)="cambiaPagina('moda')">Moda</button>
